{:source-paths ["src"]
 :builds
 {:app
  {:target :node-script
   :main my-app.core/main
   :output-to "out/main.js"}
  :repl
  {:target :node-repl}
  :eval
  {:target :node-script
   :main my-app.eval/main
   :output-to "out/eval.js"}}}