.DS_Store
execute/*.class
.idea
#.github/workflows/main_java.yml
node_modules
libs
greetScript.jsh
target
.gradle/
.qodo/
.vscode/
.qodo
interviews/scala3_/*.class

Python/selenium_/*.pyc
Python/selenium_/__pycache__
build
