{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
  org.jetbrains.kotlin/kotlin-stdlib {:mvn/version "1.9.24"}
  org.codehaus.groovy/groovy {:mvn/version "3.0.21"}
;;   vdmit11/clojure-triple-quote-strings {:git/url "https://github.com/vdmit11/clojure-triple-quote-strings" :sha "c3ccd2057b75b3bd85dc7f94415aeeab30a1b492"}
}

 ;; Include both source roots
 :paths ["src" "src/main/clojure" "target/kotlin" "target/groovy"]

 :aliases
 {
  ;; default run (like lein run)
  :run-my
  {:main-opts ["-m" "my-clojure-app.core"]}

  ;; second run (like lein run-gradle)
  :run-gradle
  {:main-opts ["-m" "clojuregradle.core"]}
 }
}
