name: Java CI

on:
  push:
    branches:
      - java_  # Adjust the branch name as needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK 21
      uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'temurin'
        java-package: 'jdk'
        architecture: 'x64'
        check-latest: false
        overwrite-settings: true
        job-status: 'success'

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'  # Specify the Node.js version you need
    
   # https://www.jbang.dev/documentation/jbang/latest/installation.html
    - name: Setup JBang
      uses: jbangdev/setup-jbang@main

    - name: Run script
      run: |
        jbang properties@jbangdev

    - name: Install dependencies
      run: npm install  # Run this if you have dependencies; otherwise, skip

    - name: Run Inline Java Code via Node.js
      run: node java_node.js

    - name: Build with Maven
      run: mvn clean install

    - name: Run Java Shebang script, and JBang
      run: |
        jbang -c 'System.out.println(System.getProperty("java.version"));'
        chmod +x shebang_job.sh
        java --source 21 shebang_job.sh  1 3 5

    - name: Run multi-line bash with Maven (direct)
      run: |
        mvn exec:exec -Dexec.executable=bash <<'EOF'
        ls -l
        pwd
        echo "Multiple commands"
        date && exit
        EOF

    - name: Run multi-line bash with Maven and java (direct)
      run: |
        mvn exec:exec -Dexec.executable=bash <<'EOF'
        (
          cat <<'EOF1'
        System.out.println("Hello");
        int x = 10;
        System.out.println(x * 2);
        /exit
        EOF1
        ) | jshell -q -
        exit
        EOF

    - name: Run multi-line bash with Maven and java again (direct)
      run: |
        mvn exec:exec -Dexec.executable=jshell -Dexec.args="-" <<EOF
        System.out.println("Hello from jshell!");
        /exit
        EOF