name: Docker Workflow

on:
  push:
    branches:
      - micronaut_kotlin_
  workflow_dispatch:


jobs:
  build-and-run:
    name: Docker run workflow
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4  # ⬅️ This was missing

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

############################### Kotlin ###############################
      - name: Build Application docker - 2
        run: |
          docker build -t micronaut-kotlin .
          # docker run -p 8080:8080 micronaut-kotlin
          docker tag micronaut-kotlin sreedockerhub19/micronaut-kotlin:latest
          docker push sreedockerhub19/micronaut-kotlin:latest