name: Run Clojure Hello World

on:
  push:
    branches: [ clojure_ ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '21'

# Clojure CLI

    - name: Install Clojure CLI
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: 1.11.1.1403

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Run Clojure -e example and Python
      run: |
       clojure -e "(println \"Hello from -e!\")"
       python testing.py
       chmod +x testing.sh
       ./testing.sh

    - name: Run cc.clj
      run: |
       clojure my-clojure-app/src/my_clojure_app/cc.clj

    - name: Install Kotlin compiler
      run: |
        curl -s "https://get.sdkman.io" | bash
        source "$HOME/.sdkman/bin/sdkman-init.sh"
        sdk install kotlin 1.9.24
        kotlinc -version
        sudo apt-get update && sudo apt-get install -y groovy
    - name: Compile Kotlin and Run Clojure App
      run: |
        cd my-clojure-app 
        mkdir -p target/kotlin
        mvn install
        kotlinc src/main/kotlin -d target/kotlin -classpath "$(clojure -Spath)"
        groovyc -d target/groovy src/main/groovy/utils/GStrings.groovy
        #clojure -M:run
        clojure -M:run-my        # runs my_clojure_app.core
        clojure -M:run-gradle    # runs clojuregradle.core
# Using leiningen

    - name: Install Leiningen
      run: |
        curl https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein > lein
        chmod +x lein
        sudo mv lein /usr/local/bin/lein
        lein --version
    - name: Run Clojure App
      run: |
        cd my-clojure-app
        lein run && lein run-my && lein run-gradle
    - name: Compile Clojure App
      run: |
        cd my-clojure-app
        lein compile
    - name: Run Clojure App
      run: |
        cd my-clojure-app
        lein run && lein run-my && lein run-gradle
# Gradle Step

    - name: Build and run with Gradle
      run: |
        cd my-clojure-app
        gradle wrapper
        ./gradlew clean compileKotlin
        ./gradlew build run
# Maven step

    - name: Build and run with Maven
      run: |
       cd my-clojure-app 
       mvn clean compile exec:java -Dexec.mainClass=clojuregradle.core