name: CI

on:
  push:
    branches: [ clojure_script ]
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    # - name: Install planck
    #   run: |
    #     wget https://planck-repl.org/releases/2.25.0-debian-9.0-x86_64/planck
    #     chmod +x planck
    #     sudo mv planck /usr/local/bin/
    #     sudo apt-get update && sudo apt-get install -y libwebkit2gtk-4.0-37
    #     planck -e "(println (+ 2 3))"

    - name: Install nbb
      run: |
        npm install nbb -g
        nbb -e '(+ 1 2 3)'
        npm install csv-parse shelljs term-size zx
        npm run start

    - name: nbb inline
      run: |
        nbb -e '(ns hello
          (:require ["csv-parse/sync" :as csv]
                    ["fs" :as fs]
                    ["path" :as path]
                    ["shelljs$default" :as sh]
                    ["term-size$default" :as term-size]
                    ["zx" :refer [$]]
                    ["zx$fs" :as zxfs]
                    [nbb.core :refer [*file* await]]))
        (println "Hello from nbb!")
        (println "Sum of 1+2+3 is" (+ 1 2 3))
        (println "Files in current directory:")
        (println (fs/readdirSync "."))
        (prn (path/resolve "."))
        (prn (term-size))
        ; (println (count (str (fs/readFileSync *file*))))
        (prn (sh/ls "."))
        (prn (csv/parse "foo,bar"))
        ; (prn (zxfs/existsSync *file*))
        (await ($ #js ["ls"]))'

    - name: Install dependencies
      run: |
        cd my-cljs-node-app
        npm install
        npm install left-pad
        npx shadow-cljs compile app
        node out/main.js

    - name: Install lumo
      run: |
        npm install -g lumo-cljs
        lumo -e "(println (+ 1 2))"

    - name: Eval with shadow-cljs
      run: |
        cd my-cljs-node-app
        npm install
        npx shadow-cljs compile eval
        node out/eval.js